body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

header {
  background: #111;
  color: white;
  text-align: center;
  padding: 30px;
}

.banner {
  background: url('../img/imgml-banner.jpg.jpg') center/cover no-repeat;
  height: 300px;
}

.banner-text {
  background: rgba(0,0,0,0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  background: #171515;
  text-align: center;
}

nav a {
  color: white;
  padding: 14px;
  display: inline-block;
  text-decoration: none;
}

nav a:hover {
  background: #100f0f;
}

.content {
  padding: 20px;
  background: blue;
  margin: 20px;
  border-radius: 8px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
}

form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  padding: 10px;
  background: #111;
  color: white;
  border: none;
}

footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 10px;
}
